{% extends "layout.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/layout.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/form.css') }}"
/>

{% endblock head %} {% block links %}

<div class="link">
  <a href="{{ url_for('preRating') }}">Pre Rating</a>
</div>
<div class="link">
  <a href="{{ url_for('videoInstructions') }}">Video Instructions</a>
</div>
<div class="link active">
  <a href="{{ url_for('postRating') }}">Post Rating</a>
</div>
{% endblock links %} {% block content %}
<div class="navbarOffset">
  <div class="container">
    <div class="pageContainer">
      <div class="pageTitle">Welcome to Post Stress Management Exercise</div>
      <div class="pageContent">
        <div class="formDesc">Rate your Stress Level on a Scale of 1 to 5</div>
        <div class="formWrapper">
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="formRadio">{{ form.rating }}</div>
            <div class="formSubmit">{{ form.submit }}</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
