{% extends "base.html" %}

<!-- Set as Active Link -->
{% set active_page = "video" %} {% block head %}
<title>Video Instructions</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/layout.css') }}"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/video.css') }}"
/>
{% endblock head %} {% block content %}
<div class="navbarOffset">
  <div class="container">
    <div class="pageContainer">
      <div class="pageTitle">Welcome to Stress</div>
      <div class="pageContent">
        <div class="videoDesc">Deep Breathing Excercise</div>
        <div class="videoContainer">
          <video
            id="video"
            <source
            src="{{ url_for('static', filename='assets/deepBreathing.mp4') }}"
          ></video>
        </div>

        <!-- Video Controls -->
        <form id="form" method="POST" action="">
          <div class="videoControls">
            <div class="userBtns">
              <!-- Pause/Play Buttons -->
              <div class="playBtn" id="play">
                <img
                  id="playBtnIcon"
                  src="{{ url_for('static', filename='assets/play.svg') }}"
                />
              </div>

              <!-- Skip Ahead/Back -->
              <div class="skip">
                <div class="playBtn">
                  <img
                    id="back10"
                    src="{{ url_for('static', filename='assets/backwards10s.png') }}"
                  />
                </div>
                <div class="playBtn">
                  <img
                    id="foward10"
                    src="{{ url_for('static', filename='assets/foward10s.png') }}"
                  />
                </div>
              </div>
            </div>

            <!-- Video Time -->
            <div class="currentTime">
              <span id="currentVidTime"></span>&nbsp; /&nbsp;
              <span id="totalVidTime">2:16</span>
            </div>
          </div>
        </form>

        <div class="nextWrapper">
          <a href="{{ url_for('routes.postRating') }}">
            <div class="nextBtn">Next</div></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Used to check state of video -->
<script src="{{url_for('static', filename='js/videoPlay.js')}}"></script>
{% endblock content%}
